@model CollegeWebsite.Models.Department

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<br />
<h1>Details</h1>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Department Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.ImagePath) " style="width:100px; height:100px;" />

        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DepartmentId" style="color: #a12c2f;">Edit</a> |
    <a asp-action="Index" style="color: #a12c2f;">Back to List</a>
</div>


